<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/iOSObscura/iOS%206/com.google.ios.youtube/YouTube-%28com.google.ios.youtube%29-1.4.0.6375-%28iOS_6.0%29-54838e41e2be94fe009b2b053e9ff9a5.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://therealbrate.github.io/stuff/legacy_ios/trb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.google.SPPCommonSharedResources</string>
				<key>bundle-version</key>
				<string>1.4.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>YouTube</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
